/*Cambiamos la fuente y color de los textos principales*/
body { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh !important;
    font-family: 'Noto sans', sans-serif;
    color: #222222;
}

/*Modificar el boton de (más información)*/
.btn-rojo{
    text-decoration: none;
    color:white;
    font: 0.8rem;
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #fb2056;
    padding: 1rem 2rem;
    border-radius: 20px;
    display: inline-block;

/*Solo aplica para flexbox que sirve para dar mejor forma al diseño responsive*/

    align-self: center;
}

.frase{
    text-align: center;
}

/*Primera Seccion*/
/*Agrega imagen de fondo*/
#primera-seccion {
    background: linear-gradient(rgba(247, 202, 2, 0.295), rgba(38,2,2,0.446)), url(/img/Secciones/fondo.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}
/*Diseño en la barra de navegacion para la pagina principal*/
#barra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*posicionamos el logo*/
#logo {
    margin: 0;
}

/*Diseño de textos en la barra de navegacion*/
nav > a{
    text-decoration: none;
    color: rgb(2, 2, 2);
    padding-left: 1rem;
    padding-right: 1rem;
}
/*Marcar de blanco los textos al clickear*/
nav >a:hover {
    color: rgb(255, 255, 255);
}
/*Dar diseño a los textos de la primera seccion*/
#primer-contenido{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}


#primer-contenido > p {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/*Division de textos para dar un diseño a la interfaz*/
#primer-contenido > hr {
    width: 4.5rem;
    border-color: #fb2056;
}

#primer-contenido > h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
/*Ordenar la interfaz de la segunda seccion*/
#segunda-seccion {
    background-color: #f4f5f9;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

/*Ordenar la interfaz de la tercera seccion*/
#tercera-seccion{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
/*Centralizar texto y darle diseño*/
#titulo {
    margin-bottom: 2rem;
}

#titulo > h2{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

#titulo > hr {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

#titulo > hr {
    width: 4.5rem;
    border-color: #fb2056;
}

/*Centralizar texto y boton de informacion*/
#container-principal {
    text-align: center;
    display: flex;
    flex-direction: row;
}

/*Acomodar imagenes de noticias destacadas*/
.img-destacados{
    padding-right: 1rem;
    padding-left: 1rem;
}
/*Juntar imagenes con sus respectivos textos*/
.img-destacados > h6 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.img-destacados > p {
    margin-bottom: 2rem;
}

.img-destacados > img{
    max-width: 100%;
}

/*Agregamos fondo transparente en la cuarta seccion donde encontramos noticias nacionales*/
#cuarta-seccion{
    background: linear-gradient(rgba(116, 122, 122, 0.35), rgba(145, 132, 132, 0.446)), url(/img/Secciones/fondo2.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;  
    display: flex;
    flex-direction: column;  
}
/*Ordenad textos en la cuarta seccion*/
#contenedor {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}


/*Cambiar de posicion los textos y intregrar diseño*/
.mitad{
    width: 50%;
}

#cuarta-seccion-der > h3{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: black;
    
}

#cuarta-seccion-der > hr{
    width: 4.5rem;
    border-color: #000000;
    margin-left: 0;
    margin-bottom: 3rem;
}


#cuarta-seccion-der > p{
    margin-bottom: 4rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/*Ordenando y centralizando textos e imagenes quinta seccion*/
#quinta-seccion {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#quinta-seccion-izq {
    flex: 1;
}

#quinta-seccion-izq > h3 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

#quinta-seccion-izq > p {
    margin-bottom: 4rem;
}

#quinta-seccion-der {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px 10px;
    justify-items: center;
    align-items: center;
}

#quinta-seccion-der > img {
    max-width: 100%;
}


#quinta-seccion-izq > hr {
    width: 4.5rem;
    border-color: #0051ff;
    margin-left: 0;
    margin-bottom: 3rem;
}

/*Footer*/
/*Ordenamos la interfaz para aplicaciones moviles- Primera Seccion*/
@media(max-width:522px){
    #primera-seccion {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #barra{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding-top:  2rem;
        padding-bottom: 0;
    }

    #barra > p,
    nav {
        text-align: center;
    }

    #primer-contenido{
        margin-top: 2.5rem;
    }

    #primer-contenido > h1{
        font-size: 2.5rem;
    }

/*tercera seccion*/

    #tercera-seccion {
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 90%;
    }

    #container-principal {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

.img-destacados {
    margin-bottom: 2rem;
}

.img-destacados > img {
    max-width: 100%;
}

/*Cuarta seccion*/
/*Con esto haremos que toda la parte izquierda no se vea y que nuestro lado derecho ocupe su lugar en app movil*/
#cuarta-seccion-izq {
    display: none;
}

#cuarta-seccion-der {
    width: 100%;
}

/*Quinta Seccion*/

#quinta-seccion {
    width: 80%;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#quinta-seccion-der {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    gap: 10px 10px;
    justify-items: center;
    align-items: center;
}

#quinta-seccion-izq > h3 {
    font-size: 1.5rem;
}



}